.carouselContainer {
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  align-items: flex-end;
  overflow: visible;

  //   img {
  //     display: block;
  //     width: 100vw;
  //     height: 100vh;
  //     object-fit: cover;
  //   }
}

.control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  z-index: 1;
}

.knob {
  position: relative;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 0.5rem;
  cursor: pointer;

  &.active {
    box-shadow: #d3d3d3 0px 2px 10px -3px;
    background-color: rgba(255, 255, 255, 1);
  }
}
