.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)),
    url("../images/countdown/countdown_000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  padding: 250px 50px;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timeblock {
  display: inline-block;
  margin: 0 1rem 2rem;
  min-width: 125px;
  padding: 1rem 2rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.number {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .timeblock {
    width: 60px;
  }

  .number {
    font-size: 2rem;
  }
}

.label {
  text-transform: uppercase;
}
