@import "./shared.scss";

.covid {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	display: block;
	background-color: $color-air-force;
	color: white;
	padding: 1rem 2rem;
	max-width: 600px;
	margin: 0 auto;
	z-index: 10000;
	box-shadow: $color-air-force 0px 2px 10px -3px;
}

@media (max-width: 530px) {
	.covid {
		font-size: .8rem;
	}
}

.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0;
	border: none;
	background: transparent;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}