@import "./shared.scss";

$hoverColor: grey;

.headerContainer {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  padding: 1rem;

  &.mobile {
    font-size: 1.5rem;

    &.active {
      background-color: white;
      color: black;
    }

    ul {
      flex-direction: column;
      width: 100%;
    }

    li {
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  svg {
    max-width: 30px !important;
    max-height: 30px !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    float: right;
  }

  .headerMenu {
    list-style: none;
    text-align: right;
    float: right;
    clear: both;
    display: flex;
    margin: 0;

    li {
      cursor: pointer;
      margin: 0;
      padding: 0.5rem 1rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .rsvp {
      border: 1px solid white;
      margin-left: 1rem;
      border-radius: 5px;
    }
  }
}
