@import "./shared.scss";

$hoverColor: grey;

.headerContainer {
    margin-bottom: 1.45rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }

    svg {
        width: 30px !important;
        height: auto;
        cursor: pointer;
        float: right;
        margin: 20px;
    }

    .headerMenu {
        list-style: none;
        text-align: right;
        float: right;
        clear: both;
        margin-right: 20px;

        li {
            cursor: pointer;
        }
    }
}