@import "./shared.scss";

.registryContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $pageWidth;
  margin: 0 auto;
}

.store {
  padding: 1rem;
  filter: opacity(60%);
  width: 300px;

  img {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .store {
    width: 250px;
  }
}
