.rsvpSection {
    background-image: url("../images/footer-background.jpg");
    background-position: center;
    background-size: cover bottom;
    background-repeat: no-repeat;
    padding: 0 0 20rem;
}

.rsvpContainer {
    margin: 0 auto;
    padding: 3rem 4rem;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 2px 10px -3px #d3d3d3;
    border-radius: 10px;
}

.rsvpForm {
    text-align: left;
    max-width: 800px;
    margin: auto;
    color: #8e8e8e;
}

.rsvpInput {
    border: 0;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;

    &:placeholder {
        color: #8e8e8e;
    }

    &:focus {
        outline: none;
    }

    &[placeholder='Full Name'], &[placeholder='Email Address'], &[placeholder='Message'] {
        width: 100%;
    }

    &[type="checkbox"] {
        margin-right: 10px;
    }

    &[placeholder='Message'] {
        min-height: 150px;
    }
}