$pageWidth: 960px;

$color-hover: #808080;

$color-yale: #0E4D92;
$color-powder: #B0DFE5;

$color-sky: #95C3D3;
$color-air-force: #588BAE;
$color-pigeon: #7285A5;
$color-independence: #4C616D;
$color-space: #1D2951;
$color-steel: #4682B4;
$color-royal: #111E6C;