@import "./shared.scss";

.weddingEventContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.weddingEvent {
    width: 50%;
    max-width: 400px;
    margin: 1rem;
    padding: 2.5rem 2rem;
    border: 1px solid #ddd;
    text-decoration: none;
    color: inherit;

    &:hover {
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
    }

    svg {
        width: 50px !important;
        height: auto;
        margin: 1.66666rem;
    }

    .address {
        color: $color-hover;
    }
}

.seeLocation {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 750px) {
    .weddingEventContainer {
        justify-content: center;
        flex-direction: column;
    }
    
    .weddingEvent {
        width: 100%;
        max-width: unset;
        margin: 0 0 1rem;
    }
}